.th-basic-nav {
  background-color: #333333;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

.th-basic-header {
  background: -webkit-gradient(linear, left top, right top, from(#02cbbc), color-stop(16%, #0cc7c2), color-stop(33%, #10c3c9), color-stop(50%, #12bfcf), color-stop(66%, #10bcd5), color-stop(83%, #0cb8dc), to(#02b4e2));
  background: -webkit-linear-gradient(left, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%);
  background: -o-linear-gradient(left, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%);
  background: linear-gradient(90deg, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%); }

.th-basic-section {
  background: #000;
  border: 4px solid #fff; }

.th-basic-article {
  background: #000;
  border: 2px solid #0ae40e;
  border-top: 8px solid #0ae40e; }

.th-basic-aside {
  background-color: #efefef; }

.th-basic-footer {
  background-color: #333; }
