* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.t-news-nav {
  height: 2.5rem;
  background-color: #000;
  font: bold 1em Courier New, sans-serif; }
  .t-news-nav a,
  .t-news-nav a:active {
    color: #fff;
    text-decoration: none; }
  .t-news-nav a:hover {
    color: #fff;
    text-decoration: underline; }

.t-news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 1.5rem Verdana, sans-serif; }

.t-news-section {
  background-color: #e0e0e0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

.t-news-article {
  background-color: #fff; }

.t-news-aside {
  background-color: #e0e0e0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

.t-news-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #000;
  color: #fff; }
