// IMPORT
@import 'box-sizing';

// MIXINS
@mixin stickEdges {
  margin: 0;
  padding: 0;
}

@mixin afterBlock {
  content: "";
  display: block;
}

// CONTAINERS + ROWS
.container {
  @include stickEdges;
  width: 100%;
  clear: both;
  &::after {
    @include afterBlock;
  }
}

.rows {
  @include stickEdges;
  width: 100%;
  clear: both;
  &::after {
    @include afterBlock;
  }
}

// GRID 12 COLUMNS
.col-12-1 {
  width: (100% / 12);
}
.col-12-2 {
  width: (100% / 6);
}
.col-12-3 {
  width: (100% / 4);
}
.col-12-4 { 
 width:  (100% / 3);
}
.col-12-5 {
 width:  (100% / 2.4);
}
.col-12-6 {
 width:  (100% / 2);
}
.col-12-7 {
 width:  (100% / 1.71);
}
.col-12-8 {
 width:  (100% / 1.5);
}
.col-12-9 {
 width:  (100% / 1.33);
}
.col-12-10 {
 width:  (100% / 1.2);
}
.col-12-11 {
 width:  (100% / 1.09);
}
.col-12-12 {
  width: 100%;
}
