/* .............. DOCUMENTATION VIEW ................... */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
  h1,
  h2 {
    font-family: 'Capriola', sans-serif;
  }

  img {
      width: 100px;
      height: auto;
      margin-right: 20px;
  }

  /* ................ BUILDING THE GRID ............ */
  main {
    display: grid;
    grid-template-rows: 70vh repeat(6, minmax(100px, 300px)) 30px;
    grid-template-columns: 30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
    grid-row-gap: 30px;
  }
  
  header {
    grid-area: 1 / 1 / 2 / 7;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:  30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
  }
  
  #infographic {
    grid-area: 2 / 5 / 8 / 6;
    background-color: blue;
    z-index: 2;
    margin-top: 20px;
    border-radius: 0 0 4px 4px;
    width: 350px;
    height: auto;
    max-height: 1930px;
  }
  
  #getting-started {
    grid-area: 2 / 1 / 3 / 7;  
  }
  
  #infographic-title {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  #getting-started-aside {
    grid-area: 2 / 3 / 3 / 4;
  }
  
  #prerequisites {
    grid-area: 3 / 1 / 4 / 7;
  }
  
  #prerequisites-aside {
    grid-area: 3 / 3 / 4 / 4;
  }
  
  #installing {
    grid-area: 4 / 1 / 5 / 7;
  }
  
  #installing-aside {
    grid-area: 4 / 3 / 5 / 4;
  }
  
  #using {
    grid-area: 5 / 1 / 6 / 7;
  }
  
  #using-aside {
    grid-area: 5 / 3 / 6 / 4;
  }
  
  #deployment {
    grid-area: 6 / 1 / 7 / 7;
  }
  
  #deployment-aside {
    grid-area: 6 / 3 / 7 / 4;
  }
  
  #built {
    grid-area: 7 / 1 / 8 / 7;
  }
  
  #built-aside {
    grid-area: 7 / 3 / 8 / 4;
  }
  
  /* ................... STYLE .................... */
  
  aside {
    background-color: #00b8d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-radius: 4px;
  }
  
  section {
    background-color: #cfd8dc;
    margin: 20px 0;
  }
  
  #title {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #logo {
    grid-area: 2 / 4 / 3 / 5;
    margin: 0 auto;
    width: 300px;
    height: auto;
  }
  
  h1,
  section {
    color: #fa990e;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  .section-titles {
    grid-area: 1 / 2 /  2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .section-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
  }