/* We can use normalize css instead */
/* .............. ABOUT VIEW ................... */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --yellow-color:#fa990e;
    --blue-color:#00b8d4;
    --gray-color:#cfd8dc;
}
::selection{
    color: var(--yellow-color);
}
.about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-gap: 3rem;
}
.about-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b";
   
}
.about-description{
    padding: 0 0 0 1rem;
    grid-area: a;
    align-self: center;
    justify-self: end;
}
.about-logo{
    grid-area: b;
    align-self: center;
    justify-self: start;
}
.about-inner .about-title{
    color: var(--yellow-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.about-inner .about-summury{
    color: var(--gray-color);
    font-family: 'Lato', sans-serif;
    font-size: .6rem; 
    line-height: 80%;
}

.about-logo-img{
    padding: 0 0 0 8rem;
    width: 250px;
    height: auto;
}
.about-history{
    position: relative;
    background: var(--gray-color);
    padding: 0 0 0 25%;
    height: 150px;
    align-self: center;
}
.about-inner-title{
    color: var(--yellow-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    padding-top: 3.6rem;
}
.flow-box{
    position: absolute;
    background: var(--blue-color);
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 190px;
}
.about-inner-description{
    color: #000;
    padding: 0.5rem 1rem 0 1rem;
    font-size: .8rem;
    font-family: 'Lato', sans-serif; 
}
.about-team{
    position: relative;
    background: var(--gray-color);
    padding: 0 0 0 25%;
    color: var(--yellow-color);
    height: 150px;
}
/* Extra Small devices */
 @media screen and (max-width:600px){
     
    .about-inner{
      grid-template-columns: 1fr;
      grid-template-areas: 
      "a"
      "b";
    }
    .about-description{
      grid-area: a;
      align-self: center;
      justify-self: center;
    }
    .about-logo{
       grid-area: b;
       align-self: center;
       justify-self: start;
    }
    
} 
/* Medium and Small devices */
 @media screen and (max-width:910px){
    .about{
        grid-gap: 4rem;
    }
    
    .flow-box{
        width: 85%;
    }
    .about-history{
        padding: 0 0 0 10%;
    }
    .about-team{
        padding: 0 0 0 10%;
    }
} 
/* .............. DOCUMENTATION VIEW ................... */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    font-family: 'Capriola', sans-serif;
}

img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

/* ................ BUILDING THE GRID ............ */

main {
    display: grid;
    grid-template-rows: 70vh repeat(6, minmax(100px, 300px)) 30px;
    grid-template-columns: 30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
    grid-row-gap: 30px;
}

header {
    grid-area: 1 / 1 / 2 / 7;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
}

#infographic {
    grid-area: 2 / 5 / 8 / 6;
    background-color: blue;
    z-index: 2;
    margin-top: 20px;
    border-radius: 0 0 4px 4px;
    width: 350px;
    height: auto;
    max-height: 1930px;
}

#getting-started {
    grid-area: 2 / 1 / 3 / 7;
}

#infographic-title {
    grid-area: 1 / 4 / 2 / 5;
}

#getting-started-aside {
    grid-area: 2 / 3 / 3 / 4;
}

#prerequisites {
    grid-area: 3 / 1 / 4 / 7;
}

#prerequisites-aside {
    grid-area: 3 / 3 / 4 / 4;
}

#installing {
    grid-area: 4 / 1 / 5 / 7;
}

#installing-aside {
    grid-area: 4 / 3 / 5 / 4;
}

#using {
    grid-area: 5 / 1 / 6 / 7;
}

#using-aside {
    grid-area: 5 / 3 / 6 / 4;
}

#deployment {
    grid-area: 6 / 1 / 7 / 7;
}

#deployment-aside {
    grid-area: 6 / 3 / 7 / 4;
}

#built {
    grid-area: 7 / 1 / 8 / 7;
}

#built-aside {
    grid-area: 7 / 3 / 8 / 4;
}

/* ................... STYLE .................... */

/* NAV MENU  */

nav {
    background-color: #00b9d1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.nav__menu > * {
    margin: 5px;
    font-family: 'Lato', sans-serif;
}

.nav__link {
    color: white;
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
}

.nav__link:nth-child(3) {
    margin-right: 30px;
}

.nav__link:hover {
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.nav__link:active {
    background: white;
    color: orange;
}

.logo {
    width: 200px;
}

.icon {
    color: white;
    height: 20px;
    width: auto;
}

.icon:hover {
    color: orange;
    cursor: pointer;
}


/* */

aside {
    background-color: #00b8d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-radius: 4px;
}
/* **** Please avoid general selctors ******* */
/* I uncomment background color because it is impact on another section  */
section {
    /* background-color: #cfd8dc; */
    margin: 20px 0;
}

#title {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    grid-area: 2 / 4 / 3 / 5;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

h1,
section {
    color: #fa990e;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

.section-titles {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.section-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px minmax(50px, 1fr) minmax(100px, 400px) minmax(50px, 1fr) minmax(100px, 350px) 30px;
}

.footer-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 225px;
}

footer ul {
    list-style: none;
    margin: 0 auto;
}

footer li {
    display: inline-block;
    padding: 0 5px;
}

footer a {
    text-decoration: none;
    color: #fa990e;
}

footer .fa {
    color: #00b8d4;
    font-size: 30px;
    padding-top: 10px;
    transition: 0.5s;
}

footer .fa-github {
    padding-left: 15px
}

footer .fa-facebook-official {
    padding-left: 30px
}

footer .fa:hover {
    transform: scale(1.2);
}
