/* LAYOUTS */
/* --------------------------------------- */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #484c55;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  background: transparent;
  color: #c69;
  text-decoration: none;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both; }
  .container::after {
    content: "";
    display: block; }

.col-12-1 {
  width: 8.33333%; }

.col-12-2 {
  width: 16.66667%; }

.col-12-3 {
  width: 25%; }

.col-12-4 {
  width: 33.33333%; }

.col-12-5 {
  width: 41.66667%; }

.col-12-6 {
  width: 50%; }

.col-12-7 {
  width: 58.33333%; }

.col-12-8 {
  width: 66.66667%; }

.col-12-9 {
  width: 75%; }

.col-12-10 {
  width: 83.33333%; }

.col-12-11 {
  width: 91.66667%; }

.col-12-12 {
  width: 100%; }

.rows {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both; }
  .rows::after {
    content: "";
    display: block; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.col-1 {
  display: grid;
  grid-template-columns: 1fr; }

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.col-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr); }

.col-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.col-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr); }

.col-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }

.col-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr); }

.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.col-13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr); }

.col-14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr); }

.col-15 {
  display: grid;
  grid-template-columns: repeat(15, 1fr); }

.col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr); }

.row-1 {
  display: grid;
  grid-template-rows: 1fr; }

.row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr); }

.row-3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr); }

.row-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr); }

.row-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr); }

.row-6 {
  display: grid;
  grid-template-rows: repeat(6, 1fr); }

.row-7 {
  display: grid;
  grid-template-rows: repeat(7, 1fr); }

.row-8 {
  display: grid;
  grid-template-rows: repeat(8, 1fr); }

.row-9 {
  display: grid;
  grid-template-rows: repeat(9, 1fr); }

.row-10 {
  display: grid;
  grid-template-rows: repeat(10, 1fr); }

.row-11 {
  display: grid;
  grid-template-rows: repeat(11, 1fr); }

.row-12 {
  display: grid;
  grid-template-rows: repeat(12, 1fr); }

.row-13 {
  display: grid;
  grid-template-rows: repeat(13, 1fr); }

.row-14 {
  display: grid;
  grid-template-rows: repeat(14, 1fr); }

.row-15 {
  display: grid;
  grid-template-rows: repeat(15, 1fr); }

.row-16 {
  display: grid;
  grid-template-rows: repeat(16, 1fr); }

.row-300 {
  display: grid;
  grid-template-rows: minmax(300px, auto); }

.row-300-gap {
  display: grid;
  grid-template-rows: minmax(300px, auto);
  grid-row-gap: 1em; }

.row-200 {
  display: grid;
  grid-template-rows: minmax(200px, auto); }

.row-200-gap {
  display: grid;
  grid-template-rows: minmax(200px, auto);
  grid-row-gap: 1em; }

.row-150 {
  display: grid;
  grid-template-rows: minmax(150px, auto); }

.row-150-gap {
  display: grid;
  grid-template-rows: minmax(150px, auto);
  grid-row-gap: 1em; }

.row-100 {
  display: grid;
  grid-template-rows: minmax(100px, auto); }

.row-100-gap {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-row-gap: 1em; }

.row-50 {
  display: grid;
  grid-template-rows: minmax(50px, auto); }

.row-50-gap {
  display: grid;
  grid-template-rows: minmax(50px, auto) grid-row-gap 1em; }

.col-4-4-2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr; }

.col-4-4-2-gap {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: 1em; }

.col-1-3-1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; }

.col-1-3-1-gap {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 1em; }

.col-3-7 {
  display: grid;
  grid-template-columns: 3fr 7fr; }

.col-3-7-gap {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-column-gap: 1em; }

.col-7-3 {
  display: grid;
  grid-template-columns: 7fr 3fr; }

.col-7-3-gap {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 1em; }

.col-1-4-4-1 {
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr) 1fr; }

.col-1-4-4-1-gap {
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr) 1fr;
  grid-column-gap: 1em; }

.col-1-2-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; }

.col-1-2-2-gap {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 1em; }

.lay-1-container {
  display: grid;
  grid-template-areas: "a . b"
 "c c b";
  grid-template-columns: repeat(3 1fr);
  grid-gap: 1em; }

.lay-1-item1 {
  grid-area: a; }

.lay-1-item2 {
  grid-area: b; }

.lay-1-item3 {
  grid-area: c; }

.lay-2-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 6fr 1fr;
  grid-template-areas: "item-1 item-2"
 "item-3 item-2"
 "item-3 item-4";
  grid-gap: 1em; }

.lay-2-item-1 {
  grid-area: item-1; }

.lay-2-item-2 {
  grid-area: item-2; }

.lay-2-item-3 {
  grid-area: item-3; }

.lay-2-item-4 {
  grid-area: item-4; }

.lay-3-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 3fr 1fr;
  grid-template-areas: "item-1 item-2 item-3"
 "item-1 item-2 item-3"
 "item-1 item-2 item-3"
 "item-1 item-4 item-3";
  grid-gap: 1em; }

.lay-3-item-1 {
  grid-area: item-1; }

.lay-3-item-2 {
  grid-area: item-2; }

.lay-3-item-3 {
  grid-area: item-3; }

.lay-3-item-4 {
  grid-area: item-4; }

.lay-4-container {
  display: grid;
  grid-template-areas: 'left center center right';
  grid-gap: 1em; }

.lay-4-item-1 {
  grid-area: left; }

.lay-4-item-3 {
  grid-area: right; }

.lay-4-item-2 {
  grid-area: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); }

.lay-4-item-2-1 {
  grid-column: 1/3; }

.lay-4-item-2-2 {
  grid-column: 3/5; }

.lay-4-item-2-3 {
  grid-column: 1/-1;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em; }

.lay-4-item-2-3-1 {
  grid-column: 1/2; }

.lay-4-item-2-3-2 {
  grid-column: 2/4;
  grid-row: 1/3;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.lay-4-item-2-3-2-1 {
  grid-row: 2/3; }

.lay-4-item-2-3-2-2 {
  grid-row: 2/3; }

.lay-4-item-2-3-3 {
  grid-column: 2/4; }

.lay-5-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr); }

.lay-5-item-1 {
  grid-column: 1/5;
  grid-row: 1/5; }

.lay-5-item-2 {
  grid-column: 1/3;
  grid-row: 5/10; }

.lay-5-item-3 {
  grid-column: 3/5;
  grid-row: 5/6; }

.lay-5-item-4 {
  grid-column: 3/5;
  grid-row: 6/10; }

.lay-5-item-5 {
  grid-column: 1/5;
  grid-row: 10/13; }

.lay-6-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em; }

.lay-6-item-1 {
  grid-column: 1/2;
  grid-row: 1/3; }

.lay-6-item-2 {
  grid-column: 2/4; }

.lay-6-item-3 {
  grid-row: 2/4; }

.lay-6-item-4 {
  grid-row: 2/5; }

.lay-6-item-5 {
  grid-row: 3/4; }

.lay-6-item-6 {
  grid-column: 1/3; }

.lay-7-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em; }

.lay-7-item-top {
  grid-column: 1/4; }

.lay-7-item-middle-left {
  grid-column: 1;
  grid-row: 2/5; }

.lay-7-item-middle-right {
  display: grid;
  grid-gap: 0.5em;
  grid-column: 2/4;
  grid-row: 2/5; }

.lay-7-item-middle-right > div {
  grid-template-columns: repeat(12, 1fr); }

.lay7-mr-nested-1 {
  grid-column: 1/6; }

.llay-7-mr-nested-2 {
  grid-column: 7/12; }

.lay-7-mr-nested-3 {
  grid-column: 1/12; }

.lay-7-mr-nested-4 {
  grid-column: 1/4; }

.lay-7-mr-nested-5 {
  grid-column: 5/8; }

.lay-7-mr-nested-6 {
  grid-column: 9/12; }

.lay-7-item-bottom {
  grid-column: 1/4; }


/* THEME 2 */
/* --------------------------------------- */
.th-2-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.th-2-nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #80cbc4; }

.th-2-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  background-color: #ddd;
  width: 95%;
  margin: 0 auto; }

.th-2-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fff9c4; }

.th-2-article {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  background-color: #ddd;
  width: 95%;
  margin: 0 auto; }

.th-2-aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fff9c4; }

.th-2-footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #80cbc4; }


/* THEME BASICS */
/* --------------------------------------- */
.th-basic-nav {
  background-color: #333333;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

.th-basic-header {
  background: -webkit-gradient(linear, left top, right top, from(#02cbbc), color-stop(16%, #0cc7c2), color-stop(33%, #10c3c9), color-stop(50%, #12bfcf), color-stop(66%, #10bcd5), color-stop(83%, #0cb8dc), to(#02b4e2));
  background: -webkit-linear-gradient(left, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%);
  background: -o-linear-gradient(left, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%);
  background: linear-gradient(90deg, #02cbbc 0%, #0cc7c2 16%, #10c3c9 33%, #12bfcf 50%, #10bcd5 66%, #0cb8dc 83%, #02b4e2 100%); }

.th-basic-section {
  background: #000;
  border: 4px solid #fff; }

.th-basic-article {
  background: #000;
  border: 2px solid #0ae40e;
  border-top: 8px solid #0ae40e; }

.th-basic-aside {
  background-color: #efefef; }

.th-basic-footer {
  background-color: #333; }


/* THEME BLUE */
/* --------------------------------------- */
.th-blue-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #36EEE0;
  width: 100%; }

.th-blue-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #8dfff3; }

.th-blue-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ecfcf9;
  width: 100%; }

.th-blue-article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ecfcf9; }

.th-blue-aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #defdf7; }

.th-blue-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #36EEE0; }


/* THEME CHRISTMAS */
/* --------------------------------------- */
.th-christmas-nav {
  background-color: #F7F5F7;
  width: 31rem;
  margin: 0 auto; }

.th-christmas-header {
  background-color: #F75738;
  width: 29rem;
  margin: -2rem auto 1.5rem auto; }

.th-christmas-section {
  background-color: #70AB54;
  width: 29rem;
  margin: 1.5rem auto; }

.th-christmas-article {
  background-color: #88D066;
  width: 29rem;
  margin: 1.5rem auto; }

.th-christmas-aside {
  background-color: #96E96F;
  width: 29rem;
  margin: 1.5rem auto; }

.th-christmas-footer {
  background-color: #F7F5F7;
  width: 31rem;
  margin: -1.5rem auto 2rem auto; }


/* THEME LIGHT */
/* --------------------------------------- */
.th-light-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
  background-color: #474747; }

.th-light-ul {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 2 / 3;
  justify-self: center; }

.th-light-li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none; }

.th-light-a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f7f7f7;
  margin: 0 10px; }

.th-light-a:hover {
  text-decoration: underline; }

.th-light-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#cd7502), color-stop(16%, #d17902), color-stop(33%, #d47e02), color-stop(50%, #d88202), color-stop(66%, #dc8702), color-stop(83%, #df8b02), to(#e39002));
  background: -webkit-linear-gradient(left, #cd7502 0%, #d17902 16%, #d47e02 33%, #d88202 50%, #dc8702 66%, #df8b02 83%, #e39002 100%);
  background: -o-linear-gradient(left, #cd7502 0%, #d17902 16%, #d47e02 33%, #d88202 50%, #dc8702 66%, #df8b02 83%, #e39002 100%);
  background: linear-gradient(90deg, #cd7502 0%, #d17902 16%, #d47e02 33%, #d88202 50%, #dc8702 66%, #df8b02 83%, #e39002 100%); }

.th-light-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #d1d1d1;
  box-shadow: 0 3px 3px #d1d1d1; }

.th-light-article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #e39002; }

.th-light-aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  border: 1px solid #e39002; }

.th-light-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd; }


/* THEME NEWS */
/* --------------------------------------- */
.th-news-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000; }

.th-news-a,
.th-news-a:active {
  text-decoration: none; }

.th-news-a:hover {
  text-decoration: underline; }

.th-news-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.th-news-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

.th-news-article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff; }

.th-news-aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

.th-news-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000; }

/* THEME ORANGE */
/* --------------------------------------- */
.th-orange-nav {
  background-color: #FF5F6D;
  position: relative;
  z-index: 11; }

.th-orange-nav > div {
  border-bottom: 3px solid white;
  max-width: 60vw;
  margin: 0 auto;
  padding: 15px 0; }

.th-orange-header {
  padding: 20px 0;
  background-color: rgba(253, 122, 126, 0);
  width: 100%;
  margin: 0 auto;
  z-index: 10; }

.th-orange-header div {
  position: relative;
  z-index: 11; }

.th-orange-main-container {
  position: relative;
  margin: 0 auto;
  margin-top: 50vh;
  padding-top: 50vh;
  z-index: 1;
  width: 100vw;
  clear: both; }

.th-orange-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; }

.th-orange-section {
  background-color: #fff;
  color: #FF5F6D;
  width: 95%;
  margin: 0 auto; }

.th-orange-section > div {
  border-bottom: 3px solid black;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0; }

.th-orange-article {
  background-color: #fff;
  color: #FF5F6D;
  width: 95%;
  margin: 0 auto; }

.th-orange-article > div {
  border-bottom: 3px solid black;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0; }

.th-orange-aside {
  background-color: #fff;
  color: #FF5F6D; }

.th-orange-footer {
  background-color: #FF5F6D;
  color: #fff9c4;
  width: 100%; }
