// NAV
.t-basic-nav {
  background-color: #333333;
  height: 3rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

// HEADER
.t-basic-header {

}

// SECTION
.t-basic-section {

}

// ARTICLE
.t-basic-article {

}

// ASIDE
.t-basic-aside {

}

//FOOTER
.t-basic-footer {

}
