* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// NAV
.t-blue-nav {
	
}

// HEADER
.t-blue-header {

}

// SECTION
.t-blue-section {

}

// ARTICLE
.t-blue-article {

}

// ASIDE
.t-blue-aside {

}

//FOOTER
.t-blue-footer {

}
