// NAV
.th-blue-nav {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #36EEE0;
	width: 100%;
}

// HEADER
.th-blue-header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width:100%;
  background-color: #8dfff3;
}

// SECTION
.th-blue-section {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  background-color: #ecfcf9;
  width: 100%;
}

// ARTICLE
.th-blue-article {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  background-color: #ecfcf9;
}

// ASIDE
.th-blue-aside {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  background-color: #defdf7;
}

//FOOTER
.th-blue-footer {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #36EEE0;
}
