* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// NAV
.t-blue-nav {
	background-color: #36EEE0;
	width: 100%;
}

// HEADER
.t-blue-header {
	width:100%;
  background-color: #8dfff3;
  height: 50px;
}

// SECTION
.t-blue-section {
  background-color: #ecfcf9;
  height: 40px;
  width: 100%;
}

// ARTICLE
.t-blue-article {
  background-color: #ecfcf9;
  height: 40px;
}

// ASIDE
.t-blue-aside {
  background-color: #defdf7;
  height: 40px;
}

//FOOTER
.t-blue-footer {
	width: 100%;
	background-color: #36EEE0;
	height: 60px;
}
