html {
  background-color: #70AB54;
}

// NAV
.t-christmas-nav {
  background-color: #F7F5F7;
  width: 31rem;
  margin: 2rem auto;
  height: 5rem;
}

// HEADER
.t-christmas-header {
    background-color: #f84d3a;
    width: 29rem;
    margin: -2rem auto 1.5rem auto;
    height: 8rem;
}

// SECTION
.t-christmas-section {
    background-color: #72AD59;
    width: 29rem;
    margin: 1.5rem auto;
    height: 16rem;
}

// ARTICLE
.t-christmas-article {
    background-color: #9fd973;
    width: 29rem;
    margin: 1.5rem auto;
    height: 15rem;
}

// ASIDE
.t-christmas-aside {

}

//FOOTER
.t-christmas-footer {

}
