// NAV
.t-christmas-nav {

}

// HEADER
.t-christmas-header {

}

// SECTION
.t-christmas-section {
    background-color: #72AD59;
    width: 29rem;
    margin: 1.5rem auto;
    height: 16rem;
}

// ARTICLE
.t-christmas-article {

}

// ASIDE
.t-christmas-aside {

}

//FOOTER
.t-christmas-footer {

}
