* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// NAV
.t-light-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
  list-style: none;
  background-color: #474747;
}

.t-light-nav {
  ul{
    grid-column: 2 / 3;
    justify-self: center;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #f7f7f7;
    margin: 0 10px;
    font-size: 1.2rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

// HEADER
.t-light-header {
	background: linear-gradient(90deg, #cd7502 0%, #d17902 16%, 
	#d47e02 33%, #d88202 50%, #dc8702 66%, #df8b02 83%, #e39002 100%);
}

// SECTION
.t-light-section {
	background-color: #fff;
  box-shadow: 0 3px 3px #d1d1d1;
}

// ARTICLE
.t-light-article {
  background-color: #fff;
  border: 1px solid #e39002;
}

// ASIDE
.t-light-aside {

}

//FOOTER
.t-light-footer {

}
