// NAV
.th-news-nav {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #000;
}

.th-news-a,
.th-news-a:active {
	text-decoration: none;
}

.th-news-a:hover {
	text-decoration: underline;
}


// HEADER
.th-news-header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

// SECTION
.th-news-section {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #e0e0e0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

// ARTICLE
.th-news-article {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

// ASIDE
.th-news-aside {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #e0e0e0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

//FOOTER
.th-news-footer {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
}
