* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// NAV
.t-news-nav {
	height: 2.5rem;
	background-color: #000;
	font: bold 1em Courier New, sans-serif;

	a,
	a:active{
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		color: #fff;
		text-decoration: underline;
	}
}

// HEADER
.t-news-header {
	display: flex;
	justify-content: center;
	align-items: center;
	font: 1.5rem Verdana, sans-serif;
}

// SECTION
.t-news-section {
	background-color: #e0e0e0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

// ARTICLE
.t-news-article {
	background-color: #fff;
}

// ASIDE
.t-news-aside {
	background-color: #e0e0e0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

//FOOTER
.t-news-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	background-color: #000;
	color: #fff;
}
