* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// NAV
.t-news-nav {
  
}

// HEADER
.t-news-header {

}

// SECTION
.t-news-section {

}

// ARTICLE
.t-news-article {

}

// ASIDE
.t-news-aside {

}

//FOOTER
.t-news-footer {

}
