/* NAV */
.th-orange-nav {
    background-color: #FF5F6D;
    position: relative;
    z-index: 11;
}

.th-orange-nav > div {
  border-bottom: 3px solid white;
  max-width: 60vw;
  margin: 0 auto;
  padding: 15px 0;
}

/* HEADER */
.th-orange-header {
  padding: 20px 0;
  background-color: rgba(253, 122, 126, 0);
  width: 100%;
  margin: 0 auto;
  z-index:10;
}

.th-orange-header div {
  position: relative;
  z-index: 11;
}

// header svg {
//   margin-top: 9vh;
//   padding-top: calc(1vh -1px);
//   display: block;
//   position: relative;
//   clear: both;
// }

.th-orange-main-container {
  position:relative;
  margin: 0 auto;
  margin-top: 50vh;
  padding-top: 50vh;
  z-index: 1;
  width: 100vw;
  clear: both;
}

// header svg {
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   min-height: 10vh;
// }

.th-orange-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

/* SECTION */
.th-orange-section {
  background-color: #fff;
   color: #FF5F6D;
   width: 95%;
   margin: 0 auto;
}

.th-orange-section > div {
  border-bottom: 3px solid black;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

/* ARTICLE */
.th-orange-article {
   background-color: #fff;
   color: #FF5F6D;
   width: 95%;
   margin: 0 auto;
}

.th-orange-article > div {
  border-bottom: 3px solid black;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

/* ASIDE */
.th-orange-aside {
  background-color: #fff;
  color: #FF5F6D;
}

/* FOOTER */
.th-orange-footer {
  background-color: #FF5F6D;
  color: #fff9c4;
  width: 100%;
}
