@charset 'utf-8';

// CSS Debugging
//
// Toggle layout debugging with CSS Pesticide.
//
// $pesticide-debug-outline - {boolean} adds outlines to all elements.
// $pesticide-debug-depth - {boolean} adds shadows to all elements.
// @source - http://pesticide.io/

$pesticide-debug-outline: false;
$pesticide-debug-depth: false;

// ==========================================================================
// $Libs
// ==========================================================================
@import "libs/index";

// ==========================================================================
// $Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// $Base
// ==========================================================================
@import "base/index";

// ==========================================================================
// $Layout
// ==========================================================================
@import "layout/index";

// ==========================================================================
// $Atoms
// ==========================================================================
@import "atoms/index";

// ==========================================================================
// $Molecules
// ==========================================================================
@import "molecules/index";

// ==========================================================================
// $Organisms
// ==========================================================================
@import "organisms/index";

// ==========================================================================
// $States
// ==========================================================================
@import "states/index";

// ==========================================================================
// $Overrides
// ==========================================================================
@import "overrides/index";

// ==========================================================================
// $Print
// ==========================================================================
@import "states/print";

// ==========================================================================
// $Fonts
// ==========================================================================
@import "utilities/fonts";

// ==========================================================================
// $Shame
// ==========================================================================
@import "shame";

// classes for grids of 1-16 columns

.col-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.col-14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.col-15 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

// classes for grids of 1-16 rows

.row-1 {
  display: grid;
  grid-template-rows: 1fr;
}

.row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.row-3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.row-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.row-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.row-6 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.row-7 {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.row-8 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.row-9 {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.row-10 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.row-11 {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.row-12 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.row-13 {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
}

.row-14 {
  display: grid;
  grid-template-rows: repeat(14, 1fr);
}

.row-15 {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
}

.row-16 {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}


// Classes for CSS grid rows from 300px-auto and lower

.row-300 {
  display: grid;
  grid-template-rows: minmax(300px, auto);
}

.row-300-gap {
  display: grid;
  grid-template-rows: minmax(300px, auto);
  grid-row-gap: 1em;
}

.row-200 {
  display: grid;
  grid-template-rows: minmax(200px, auto);
}

.row-200-gap {
  display: grid;
  grid-template-rows: minmax(200px, auto);
  grid-row-gap: 1em;
}

.row-150 {
  display: grid;
  grid-template-rows: minmax(150px, auto);
}

.row-150-gap {
  display: grid;
  grid-template-rows: minmax(150px, auto);
  grid-row-gap: 1em;
}

.row-100 {
  display: grid;
  grid-template-rows: minmax(100px, auto);
}

.row-100-gap {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-row-gap: 1em;
}

.row-50 {
  display: grid;
  grid-template-rows: minmax(50px, auto);
}

.row-50-gap {
  display: grid;
  grid-template-rows: minmax(50px, auto)
  grid-row-gap 1em;
}

// classes of 3 columns (40% / 40% / 20%) using "fr" units

.col-4-4-2 {
display: grid;
grid-template-columns: 2fr 2fr 1fr;
}

.col-4-4-2-gap {
display: grid;
grid-template-columns: 2fr 2fr 1fr;
grid-column-gap: 1em;
}

// classes for grids of 3 columns 20%-60%-20% using "fr" units

.col-1-3-1{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
}

.col-1-3-1-gap{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-column-gap: 1em;
}

//clases for grids of 2 columns 30% - 70% using "fr" units
.col-3-7{
display: grid;
grid-template-columns: 3fr 7fr;
}

.col-3-7-gap{
display: grid;
grid-template-columns: 3fr 7fr;
grid-column-gap: 1em;
}

//classes for grids of 2 columns 70%-30% using "fr" units

.col-7-3{
display: grid;
grid-template-columns: 7fr 3fr;
}

.col-7-3-gap{
display: grid;
grid-template-columns: 7fr 3fr;
grid-column-gap: 1em;
}

//classes for grids of 4 columns 10%-40%-40%-10% using "fr" units

.col-1-4-4-1{
display: grid;
grid-template-columns: 1fr repeat(2, 4fr) 1fr;
}

.col-1-4-4-1-gap{
display: grid;
grid-template-columns: 1fr repeat(2, 4fr) 1fr;
grid-column-gap: 1em;
}
.col-1-2-2{
display: grid;
grid-template-columns: 1fr 2fr 2fr;
}

.col-1-2-2-gap{
display: grid;
grid-template-columns: 1fr 2fr 2fr;
grid-column-gap: 1em;
}

//Grid 01 layout
.lay-1-container{
  display:grid;
  grid-template-areas:
    'a . b'
    'c c b';
  grid-template-columns: repeat(3 1fr);
  grid-gap:1em;
}
.lay-1-item1{
  grid-area:a;
}
.lay-1-item2{
  grid-area:b;
}
.lay-1-item3{
  grid-area:c;
}

//Grid 02 layout
.layout-02-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-areas: 
    "item-1 item-2"
    "item-3 item-2"
    "item-3 item-4";
    grid-gap: 1em;
}
.layout-02-item-1{
    grid-area: item-1;
}
.layout-02-item-2{
    grid-area: item-2;
}
.layout-02-item-3{
    grid-area: item-3;
}
.layout-02-item-4{
    grid-area: item-4;
}

//Grid 03 layout
.layout-03-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 3fr 1fr;
    grid-template-areas: 
        "item-1 item-2 item-3"
        "item-1 item-2 item-3"
        "item-1 item-2 item-3"
        "item-1 item-4 item-3";
    grid-gap: 1em;
}
.layout-03-item-1{
    grid-area: item-1;
}
.layout-03-item-2{
    grid-area: item-2;
}
.layout-03-item-3{
    grid-area: item-3;
}
.layout-03-item-4{
    grid-area: item-4;
}

//Grid 04 layout
.lay-4-container{
  display:grid;
  grid-template-areas:
    'left center center right';
  grid-gap:1em;
}
.lay-4-item1{
  grid-area:left;
}
.lay-4-item3{
  grid-area:right;
}
.lay-4-item2{
  grid-area:center;
  display:grid;
  grid-gap:1em;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(5,1fr);
}

.lay-4-item2-1{
  grid-column:1/3;
}

.lay-4-item2-2{
  grid-column:3/5;
}

.lay-4-item2-3{
  grid-column:1/-1;
  grid-row:3/6;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3,1fr);
  grid-gap:1em;
}

.lay-4-item2-3-1{
  grid-column:1/2;
}

.lay-4-item2-3-2{
  grid-column:2/4;
  grid-row:1/3;
  display:grid;
  grid-gap:1em;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
}

.lay-4-item2-3-2-1{
  grid-row:2/3;
}

.lay-4-item2-3-2-2{
  grid-row:2/3;
}

.lay-4-item2-3-3{
  grid-column:2/4;
}

//Grid 05 Layout
.layout-05-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);;
  background-color: #fff;
  color: #444;
}
.layout-05-item-a{
  grid-column: 1 / 5;
  grid-row: 1 / 5;
}
.layout-05-item-b{
  grid-column: 1 / 3;
  grid-row: 5 / 10;
}
.layout-05-item-c{
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}
.layout-05-item-d{
  grid-column: 3 / 5;
  grid-row: 6 / 10;
}
.layout-05-item-e{
  grid-column: 1 / 5;
  grid-row: 10 / 13;
}


//Grid 06 layout
.lay-6-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap:1em;
}

.lay-6-item1{
  grid-column:1/2;
  grid-row:1/3;
}

.lay-6-item2{
  grid-column:2/4;
}

.lay-6-item3{
  grid-row:2/4;
}

.lay-6-item4{
  grid-row:2/5;
}

.lay-6-item5{
  grid-row:3/4;
}
.lay-6-item6{
  grid-column:1/3;
}




