@charset 'utf-8';

// CSS Debugging
//
// Toggle layout debugging with CSS Pesticide.
//
// $pesticide-debug-outline - {boolean} adds outlines to all elements.
// $pesticide-debug-depth - {boolean} adds shadows to all elements.
// @source - http://pesticide.io/

$pesticide-debug-outline: false;
$pesticide-debug-depth: false;

// ==========================================================================
// $Libs
// ==========================================================================
@import "libs/index";

// ==========================================================================
// $Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// $Base
// ==========================================================================
@import "base/index";

// ==========================================================================
// $Layout
// ==========================================================================
@import "layout/index";

// ==========================================================================
// $Atoms
// ==========================================================================
@import "atoms/index";

// ==========================================================================
// $Molecules
// ==========================================================================
@import "molecules/index";

// ==========================================================================
// $Organisms
// ==========================================================================
@import "organisms/index";

// ==========================================================================
// $States
// ==========================================================================
@import "states/index";

// ==========================================================================
// $Overrides
// ==========================================================================
@import "overrides/index";

// ==========================================================================
// $Print
// ==========================================================================
@import "states/print";

// ==========================================================================
// $Fonts
// ==========================================================================
@import "utilities/fonts";

// ==========================================================================
// $Shame
// ==========================================================================
@import "shame";

// classes for grids of 1-16 columns

.col-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.col-14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.col-15 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

// classes for grids of 1-16 rows

.row-1 {
  display: grid;
  grid-template-rows: 1fr;
}

.row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.row-3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.row-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.row-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.row-6 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.row-7 {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.row-8 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.row-9 {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.row-10 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.row-11 {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.row-12 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.row-13 {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
}

.row-14 {
  display: grid;
  grid-template-rows: repeat(14, 1fr);
}

.row-15 {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
}

.row-16 {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}


// Classes for CSS grid rows from 300px-auto and lower

.row-300 {
  display: grid;
  grid-template-rows: minmax(300px, auto);
}

.row-300-gap {
  display: grid;
  grid-template-rows: minmax(300px, auto);
  grid-row-gap: 1em;
}

.row-200 {
  display: grid;
  grid-template-rows: minmax(200px, auto);
}

.row-200-gap {
  display: grid;
  grid-template-rows: minmax(200px, auto);
  grid-row-gap: 1em;
}

.row-150 {
  display: grid;
  grid-template-rows: minmax(150px, auto);
}

.row-150-gap {
  display: grid;
  grid-template-rows: minmax(150px, auto);
  grid-row-gap: 1em;
}

.row-100 {
  display: grid;
  grid-template-rows: minmax(100px, auto);
}

.row-100-gap {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-row-gap: 1em;
}